@page
@model Dale.WebSite.Pages.Product.EditModel
@{
}
<h1>Editar producto</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductDTO.Id" />
            <div class="form-group">
                <label asp-for="ProductDTO.Name" class="control-label"></label>
                <input asp-for="ProductDTO.Name" class="form-control" />
                <span asp-validation-for="ProductDTO.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDTO.Stock" class="control-label"></label>
                <input asp-for="ProductDTO.Stock" class="form-control" />
                <span asp-validation-for="ProductDTO.Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDTO.Value" class="control-label"></label>
                <input asp-for="ProductDTO.Value"accept type="number" class="form-control" />
                <span asp-validation-for="ProductDTO.Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}